.main-header {
  background-color: $alice-blue;
  box-shadow: 0 4px 4px rgba(88, 13, 101, 0.25);
  min-height: 68px;

  @media (min-width: $tablet-width) {
    min-height: 104px;
  }
}

.main-header__container {
  @media (max-width: $mobile-width) {
    padding: 0 26px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    padding: 0 19px 0 26px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    margin-bottom: 53px;
  }
}

.main-header__logo {
  margin-right: auto;
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto 0 0;
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.main-header__logo-icon {
  @media (min-width: $tablet-width) {
    width: 58px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-family: $special-font;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: $deep-sea;
    max-width: 142px;
  }
}

// Burger
.main-header__toggle {
  position: absolute;
  right: 3px;
  top: -45px;
  width: 45px;
  height: 30px;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 5px;
    background-color: $deep-sea;
    box-shadow: 0 12px 0 0 $deep-sea, 0 25px 0 0 $deep-sea;
    border-radius: 5px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__navigation {
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    max-width: 48%;
  }
}

// Menu close cross
.main-header__navigation--opened .main-header__toggle {
  &::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 14px;
    width: 35px;
    height: 3px;
    background-color: $deep-sea;
    box-shadow: none;
    transform: rotate(45deg);
    border-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 14px;
    width: 35px;
    height: 3px;
    background-color: $deep-sea;
    box-shadow: none;
    transform: rotate(-45deg);
    border-radius: 5px;
  }
}

.main-header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $alice-blue;

  @media (max-width: $mobile-width) {
    position: absolute;
    left: -26px;
    top: 4px;
    width: calc(100% + 52px);
    flex-direction: column;
    gap: 9px;
    z-index: 1;
    padding-top: 23px;
    background-image: linear-gradient(180deg, rgba(88, 13, 101, 0.25) 0, transparent 7px);
    min-height: 338px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 6px;
    align-items: start;
    margin-top: 16px;
    max-width: 600px;
  }
}

.main-header__navigation--closed .main-header__list {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-header__navigation--opened .main-header__list {
  @media (max-width: $mobile-width) {
    display: flex;
  }
}

.main-header__navigation--nojs .main-header__list {
  @media (max-width: $mobile-width) {
    position: static;
    display: flex;
    margin-left: -26px;
    margin-top: 4px;
  }
}

.main-header__navigation--nojs .main-header__toggle {
  display: none;
}

.main-header__link {
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: $black;
  display: inline-block;
  padding: 10px 0 10px 40px;

  @media (max-width: $mobile-width) {
    width: calc(100% - 52px);
  }

  @media (min-width: $tablet-width) {
    padding: 5px;
    min-width: 112px;
    max-width: 120px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
    padding: 0 0 7px;
    max-width: 170px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
