.hero {
  padding-top: 66px;
  background-color: $link-water;
  background-image: url("../img/hero/hero-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/hero-mobile@2x.jpg");
    background-size: 768px auto;
  }
}

.hero__title {
  margin: 0;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $deep-sea;
  text-align: center;
  letter-spacing: 2pn
  x;
}
