.hero {
  padding-top: 68px;
  background-color: $link-water;
  background-image: $top-gradient, url("../img/hero/hero-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/hero-mobile@2x.jpg");
    background-size: 768px auto;
  }
}

.hero__title {
  margin: 0 0 21px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $deep-sea;
  text-align: center;
}

.hero__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero__item {
  margin-left: 20px;
}

.hero__content {
  line-height: 19px;
}
