.hero {
  min-height: 640px;
  padding-top: 68px;
  background-color: $link-water;
  background-image: $top-gradient, url("../img/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top, left -6px bottom -235px;
  background-size: auto, auto;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: $top-gradient, url("../img/hero/hero-mobile@2x.jpg");
    background-size: auto, 764px 876px;
  }
}

.hero__title {
  margin: 0 0 32px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $deep-sea;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 46px;
    line-height: 54px;
    width: 532px;
  }
}

.hero__list {
  list-style-type: none;
  margin: 0 0 53px;
  padding: 0 0 0 28px;

  @media (min-width: $tablet-width) {
    width: 532px;
  }
}

.hero__item {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 12px;
  align-items: center;
  margin-bottom: 13px;
}

.hero__item:last-child {
  margin-top: 19px;
  margin-bottom: 0;
}

.hero__content {
  line-height: 19px;
}

.hero__button {
  width: 100%;
  max-width: 300px;
  margin-bottom: 160px;
}
