.button {
  cursor: pointer;
  font-family: $general-font;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: $white;
  background-color: $purple;
  border: none;
  padding: 16px;
  border-radius: 40px;
  transition: all 0.1s;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  word-break: break-word;
  box-shadow: 0 4px 4px rgba(88, 13, 101, 0.25);

  &:hover {
    background-color: $dark-orchid;
  }

  &:active {
    background-color: rgba(106, 16, 122, 0.6);
  }
}
