.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox__list--choice {
  columns: 2;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    columns: 3;
    column-gap: 24px;
  }

  @media (min-width: $desktop-width) {
    columns: 5;
    column-gap: 33px;
  }
}

.checkbox__list--storage {
  @media (min-width: $tablet-width) {
    columns: 2;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 42px;
  }
}

.checkbox__item {
  margin-bottom: 32px;
  page-break-inside: avoid;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

//Для соответствию дизайну
.checkbox__list--choice .checkbox__item {
  @media (min-width: $desktop-width) {
    min-width: 134px;
  }
}

.checkbox__list--choice .checkbox__item:last-child {
  margin-bottom: 112px;

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.checkbox__list--storage .checkbox__item {
  margin-bottom: 24px;
}

.checkbox__list--storage .checkbox__item:last-child {
  margin-bottom: 0;
}

.checkbox__label {
  font-size: 16px;
  line-height: 19px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 34px;
  min-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

//Для большего соответствию макету
.checkbox__list--storage .checkbox__label {
  @media (min-width: $tablet-width) {
    padding-left: 42px;
  }
}

.checkbox__mark {
  width: 24px;
  height: 24px;
  border: 2px solid $deep-sea;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.checkbox__check-mark {
  color: $deep-sea;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: -1;
}

.checkbox__word {
  cursor: pointer;
  word-break: break-word;
}

.checkbox__input[type="checkbox"]:checked ~ .checkbox__check-mark {
  display: block;
}

.checkbox__input:hover + .checkbox__mark {
  border-color: $lawn-green;
}

.checkbox__input:hover ~ .checkbox__check-mark {
  color: $lawn-green;
}

.checkbox__input:not(:disabled):active + .checkbox__mark {
  opacity: 0.6;
}

.checkbox__input:not(:disabled):active ~ .checkbox__check-mark {
  opacity: 0.6;
}

.checkbox__input:focus-visible + .checkbox__mark {
  outline: 2px solid $lawn-green;
  outline-offset: 3px;
}

.checkbox__input:disabled + .checkbox__mark {
  cursor: not-allowed;
  border-color: $edward;
}

.checkbox__input:disabled ~ .checkbox__word {
  cursor: not-allowed;
}
