.form-hero__slogan {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;
  color: $deep-sea;
  text-align: center;
  margin: 0;
}

.form-hero__about {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}
