.location {
  margin-bottom: 100px;
  padding-top: 118px;
  background-image: url("../img/general/line-leaf.svg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    padding-top: 116px;
    background-size: 296px 42px;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
    margin: 0 auto 200px;
    padding: 142px 156px 0;
    max-width: $desktop-width;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.location__container {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding: 24px 0 0;
  }
}

.location__main-text {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;
  color: $deep-sea;
  text-align: center;
  margin: 0 0 64px;

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 54px;
    max-width: 350px;
    margin: 0 auto 72px;
  }

  @media (min-width: $desktop-width) {
    font-size: 52px;
    line-height: 58px;
    max-width: unset;
    margin-bottom: 50px;
  }
}

.location__address {
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 408px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 auto;
    width: 456px;
  }
}

.location__title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    text-align: start;
    margin-bottom: 20px;
  }
}

.location__content {
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-decoration: none;
  min-height: 32px;
  margin: 0;
  padding-left: 32px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 36px;
  }
}

.location__content--street {
  margin-bottom: 11px;
  background-image: url("../img/location/leaf.svg");
}

.location__content--phone {
  margin-bottom: 11px;
  padding-left: 37px;
  background-image: url("../img/location/phone.svg");

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
    padding-left: 40px;
  }
}

.location__content--mail {
  padding-left: 34px;
  background-image: url("../img/location/mail.svg");

  @media (min-width: $tablet-width) {
    padding-left: 36px;
  }
}

.location__map-wrapper {
  border-radius: 40px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.location__map {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 372px;
  }
}

//В случае отключенного JavaScript
.location__map--nojs {
  display: none;
}

.location__map-img {
  width: 100%;
  object-fit: cover;
}
