.location {
  margin-bottom: 60px;
  padding-top: 118px;
  background-image: url("../img/general/line-leaf.svg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    margin-bottom: 96px;
    padding-top: 116px;
    background-size: 296px 42px;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
    margin: 0 auto 96px;
    padding: 142px 156px 0;
    max-width: $desktop-width;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.location--form {
  padding-top: 92px;

  @media (min-width: $tablet-width) {
    padding-top: 115px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 142px;
  }
}

@-moz-document url-prefix() {
  .location--form {
    padding-top: 94px;

    @media (min-width: $tablet-width) {
      padding-top: 115px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 142px;
    }
  }
}

.location__container {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding: 24px 0 0;
  }
}

.location__main-text {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;
  color: $deep-sea;
  text-align: center;
  margin: 0 auto 64px;
  max-width: 264px;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 54px;
    max-width: 350px;
    margin: 0 auto 72px;
  }

  @media (min-width: $desktop-width) {
    font-size: 52px;
    line-height: 58px;
    max-width: unset;
    margin-bottom: 50px;
  }
}

.location__address {
  font-style: normal;
  width: 264px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 408px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 auto;
    width: 456px;
  }
}

.location__title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    text-align: start;
    margin-bottom: 20px;
  }
}

.location__content {
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-decoration: none;
  min-height: 32px;
  margin: 0;
  padding-left: 32px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 36px;
  }
}

.location__content--street {
  margin-bottom: 11px;
  background-image: url("../img/location/location-leaf.svg");

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.location__content--link {
  position: relative;
  margin-bottom: 12px;
  padding-left: 38px;
}

.location__content--link:hover {
  color: $lawn-green;
}

.location__content--link:active {
  color: $light-deep-sea;
}

.location__content--link:nth-of-type(2) {
  padding-left: 34px;
}

.location__icon {
  position: absolute;
  top: 0;
  left: -2px;
}

.location__map-wrapper {
  border-radius: 40px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.location__map {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 372px;
  }
}

//В случае отключенного JavaScript
.location__map--nojs {
  display: none;
}

.location__map-img {
  width: 100%;
  object-fit: cover;
}
