.news {
  padding-top: 96px;
  padding-bottom: 72px;
  background-image: url("../img/news/line-leaf.svg"), url("../img/news/line-leaf.svg");
  background-repeat: no-repeat;
  background-position: top center, bottom center;
}

.news__slogan {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $deep-sea;
  margin: 0 0 64px;
}

.news__card {
  min-height: 400px;
  box-sizing: border-box;
  border: 2px solid $deep-sea;
  border-radius: 40px;
  padding: 30px 16px 70px;
  background-image: url("../img/news/news-decor-bottom.svg");
  background-repeat: no-repeat;
  background-position: bottom 22px center;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.news__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  min-height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 230px;
  margin: 0 auto 20px;
}

.news__content {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 16px;
  flex-grow: 1;
}

.news__date {
  font-size: 14px;
  line-height: 16px;
  align-self: end;
}
