.order-form__select {
  margin: 0 auto 60px;
  padding: 0;
  border: none;
  max-width: 264px;
}

.order-form__title {
  font-size: 20px;
  line-height: 23px;
  color: $deep-sea;
  margin-bottom: 32px;
  padding: 0;
}
