.order-form {
  margin-bottom: 91px;

  @-moz-document url-prefix("") {
    margin-bottom: 88px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
  }
}

.order-form-container {
  @media (min-width: $tablet-width) {
    padding: 0 72px;
  }
}

.order-form__select {
  margin: 0 auto 30px;
  padding: 0;
  border: none;
  width: 264px;

  @media (min-width: $tablet-width) {
    width: 530px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
    margin-left: 277px;
    margin-right: 260px;
    width: unset;
  }
}

.order-form__select--berries {
  margin-bottom: 16px;

  @-moz-document url-prefix("") {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}


.order-form__select--storage {
  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.order-form__select--delivery {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.order-form__title {
  font-size: 20px;
  line-height: 23px;
  color: $deep-sea;
  margin-bottom: 32px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.order-form__title--delivery {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 48px;
  }
}

.order-form__contacts {
  margin: 0 auto 29px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 24px;
    max-width: 624px;

    @-moz-document url-prefix("") {
      margin-bottom: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
    width: 740px;
    max-width: unset;
    grid-template-columns: 300px 300px;

    @-moz-document url-prefix("") {
      margin-bottom: 44px;
    }
  }
}

.order-form__contacts .order-form__title {
  @media (min-width: $tablet-width) {
    text-align: center;

    @-moz-document url-prefix("") {
      text-align: center;
      margin: 0 auto 44px;
      display: block;
      width: 360px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;

    @-moz-document url-prefix("") {
      margin: 0 0 50px;
      display: inline-block;
      width: unset;
    }
  }
}

.order-form__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 36px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.order-form__field-wrapper--tel {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.order-form__field-wrapper--mail {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.order-form__field-wrapper--address {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

.order-form__label {
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  word-break: break-word;
}

.order-form__required {
  color: $light-coral;
}

.order-form__input {
  font-family: $general-font;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 12px;
  border: 1px solid $deep-sea;
  border-radius: 20px;
  box-sizing: border-box;
  color: $black;
}

.order-form__input--address {
  min-height: 90px;
  resize: none;

  @media (min-width: $tablet-width) {
    min-height: unset;
  }
}

.order-form__error-message {
  font-size: 16px;
  line-height: 20px;
  color: $light-coral;
  margin: 0;
  position: absolute;
  left: 12px;
  bottom: -24px;
  max-height: 20px;
  max-width: 100%;
  overflow: hidden;
  display: none;
}

.order-form__label-optional {
  font-size: 14px;
  line-height: 16px;
  word-break: break-word;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
  }
}

.order-form__optional-container {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}

.order-form__optional {
  font-family: $general-font;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid $deep-sea;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  margin-top: 6px;
  padding: 16px 12px;
  width: 100%;
  min-height: 124px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    min-height: 144px;
  }
}

.order-form__button {
  margin: 0 auto 20px;
  padding: 14px 24px 16px 16px;
  width: 264px;

  @-moz-document url-prefix("") {
    padding: 16px 24px 18px 16px;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    width: 336px;
    padding: 17px 16px 18px 16px;
  }
}

//Состояния input
.order-form__input::placeholder,
.order-form__optional::placeholder {
  color: $edward;
}

.order-form__input:hover,
.order-form__optional:hover {
  border-color: $lawn-green;
}

.order-form__input:active,
.order-form__optional:active {
  border-color: $lawn-green;
}

.order-form__input:focus,
.order-form__optional:focus {
  border-color: $lawn-green;
  outline: none;
}

.order-form__input:invalid,
.order-form__optional:invalid {
  border-color: $light-coral;
}

.order-form__input:invalid ~ .order-form__error-message {
  display: block;
}

.order-form__input:placeholder-shown,
.order-form__optional:placeholder-shown {
  border-color: $deep-sea;
}

.order-form__input:placeholder-shown ~ .order-form__error-message {
  display: none;
}

.order-form__input:disabled,
.order-form__optional:disabled {
  border-color: $edward;
  cursor: not-allowed;
  background-color: transparent;
}
