.radio-select__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 6px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px 50px;
  }
}

.radio-select__item {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    min-height: 66px;
  }

  @media (min-width: $tablet-width) {
    max-width: 352px;
    margin-bottom: 24px;
  }
}

.radio-select__item:last-child {
  margin: 0;
}

.radio-select__label {
  font-size: 16px;
  line-height: 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 21px;
  padding-left: 34px;
  max-width: 190px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    max-width: unset;
  }
}

.radio-select__mark {
  width: 20px;
  height: 20px;
  border: 1px solid $deep-sea;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;

  //Для лучшего вида при переполнении
  @media (min-width: $tablet-width) {
    top: 32px;
  }

  @media (min-width: $desktop-width) {
    top: 22px;
  }
}

.radio-select__input[type="radio"] ~ span {
  cursor: pointer;
}

.radio-select__input[type="radio"]:checked + .radio-select__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  background-color: $deep-sea;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.radio-select__input:hover + .radio-select__mark {
  border-color: $lawn-green;
}

.radio-select__input[type="radio"]:checked:hover + .radio-select__mark::before {
  background-color: $lawn-green;
}

.radio-select__input:not(:disabled):active + .radio-select__mark {
  opacity: 0.6;
}

.radio-select__input:not(:disabled):active ~ .radio-select__check-mark {
  opacity: 0.6;
}

.radio-select__input:focus + .radio-select__mark {
  outline: 2px solid $lawn-green;
  outline-offset: 4px;
}

.radio-select__input[type="radio"]:disabled ~ span {
  border-color: $edward;
  cursor: not-allowed;
}



